* {
    margin: 0;
    padding: 0;
}
#principal {
    background-image: url(img/barista.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    height: 50px;
    background-color: black;
    text-shadow: 2px 2px 5px rgb(50, 8, 8);
    color: #8d4925;
    padding: 20px;
    font-size: 50px;
}
nav ul {
    background-color: #8d4925;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 500px;
}
nav li:hover {
    background-color: #804000;
}
.contenido img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    height: 50px;
    color: #8d4925;
    font-size: 45px;
    margin: 20px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.contenido {
    display: flex;
    align-items: center;
    margin: 60px;
}

.contenido p {
    font-size: 20px;
    color: white;
    font-family: cursive;
    text-align: center;
    margin-right: 10px;
}

.carrousel {
    text-align: center;
}

.carrousel img {
    width: 500px;
    height: 750px;
    object-fit: cover;
    object-position: center;
}

.carrousel button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: black;
    border-radius: 15%;
    background-color: #804000;
    color: white;
    margin: 5px;
}


