* {
    margin: 0;
    padding: 0;
}
#principal {
    background-image: url(img/barista.jpg);
    background-size: cover;
    background-position: center 5px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    height: 50px;
    background-color: black;
    text-shadow: 2px 2px 5px rgb(50, 8, 8);
    color: #8d4925;
    padding: 10px;
    font-size: 2.5rem;
}
nav ul {
    background-color: #8d4925;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 500px;
}
nav li:hover {
    background-color: #804000;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    height: 50px;
    color: #8d4925;
    font-size: 2rem;
    margin: 1rem 0;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.contenido {
    display: flex;
    align-items: center;
    margin: 60px;
}

.contenido p {
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: medium;
    margin-right: 10px;
}

